{% extends "base.html" %}
{%block title%} Cadastro - SGEN {%endblock%}

{%block content%}



<form method="post">
{%csrf_token%}
    <div class="input-group">
        <label for="{{ formulario.fullname.id_for_label }}">Nome Completo:</label>
        {{ formulario.fullname }}
        {{ formulario.fullname.errors }}
    </div>

    <div class="input-group">
        <label>E-mail Institucional:</label>
        {{ formulario.email_academico }}
        {{ formulario.email_academico.errors }}
    </div>

    <div class="input-group">
        <label>Telefone de Contato:</label>
        {{ formulario.phone }}
        {{ formulario.phone.errors }}
    </div>

    <div class="input-group">
        {{ formulario.password.label_tag }}
        {{ formulario.password }}
        {{ formulario.password.errors }}
    </div>
    

    <button type="submit">Finalizar Cadastro</button>

{% endblock %}