{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SGEN{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>

    <header class="topo">
        <div class="container-nav">
            <a class="logo" href="{% url 'login' %}">SGEN</a>
            <nav>
                <ul class="menu">
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                    <li><a href="{% url 'reserva' %}">Reserva</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="area-principal">
        <div class="container-conteudo">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>