{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SGEN{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>

<body>

    <header class="topo">
        <div class="container-nav">
            <div class="logo-area">
                <img src="{% static '/images/logoPronta.png' %}" alt="Logo SGEN">
                <a class="logo" href="{% url 'login' %}">SGEN</a>
            </div>
    </header>

    <main class="area-principal">
        <div class="container-conteudo">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>

</html>